* {
	margin: 0px
}

body{
	margin: auto;
	max-width: 1500px;
	color: #666666;
}

header{
	text-align:center;
	margin: 40px;
}

img.title{
	width: 400px;
}

a{
	margin: auto ;
	color: #666666 ;
}

.table{
	width: 100%
	margin:auto;
}

table {
	margin: 25px;
	border-collapse: collapse;
}

th{
	padding: 15px 0px;
	text-align: left;
	border-collapse: collapse;
	border:1px solid #AAAAAA;
	background:#EEEEEE;
}

td{
	padding: 15px 0px;
	border:1px solid #AAAAAA;
	background:#ffffff;
}

.tag1{
	margin: 25px;
	padding: 15px 25px;
	background-color: #FF9933;
	border-radius: 10px/20px;
}

.tag2{
	margin: 0px 25px;
	padding: 0px 10px;
	border: solid 1px #666666;
	border-radius: 10px/20px;
}

.tag3{
	margin: 20px 25px;
	padding: 0px 25px;
}

h2{
	font-size: 15px;
	color: white;
}

h3{
	padding: 5px 0px ;
	margin: 10px 15px ;
	font-size: 15px;
}

h4{
	padding: 5px 0px ;
	font-size: 15px;
	color:#FF9933;
}

ul{
	padding-inline-start: 0px;
	text-align: center;
	margin: 40px;
}

li{
	display: inline;
	margin:  30px;
}

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #666666;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  background:#FF5F17;
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

footer{
	margin: 20px;
	font-size: 12px;
	text-align:center;
}

a.footer{
	text-decoration: none;
}

/* index */

.main-image{
	margin:25px;
}

img.main{
	width: 100% ;
	height: auto ;
	border-radius: 10px/20px;
}

table.index td{
	vertical-align: super;
	padding: 10px;
	border: 0px solid #AAAAAA;
}


/* about */

table.about td.title{
	width: 5%;
	text-align: center;
}

table.about td.body{
	width: 20%;
}


/* gallery */

tr.gallery{
	border: 1px solid #000000;
}

img.gallery{
	margin: 10px;
	max-width: 70%;
}

/* table width total 90% */
table.gallery td.title{
	width: 20% ;
	border: 0px ;
	border-bottom: 1px solid #AAAAAA;
}

table.gallery td.body{
	width: 70%;
	border:0px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	vertical-align:top
}


/* Link */

img.link{
	width :80%;
}

table.link td.title{
	width: 30%;
	text-align: center;
}

table.link td.body{
	width: 70%;
}
